<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/style.css">
     <title>Bin: <%= obj.binID %> </title>
</head>

<body>
     <h1 id="BinHeader">Bin <button id="redirect" onclick="redirectToSumbit()">Create a bin!</button> <button
               id="redirect" onclick="redirectToHome()">Home</button>
     </h1>
     <h3>Share this bin: <a href="/bin/<%= obj.binID %>"><%= path %></a> | Created At: <%= time %></h3>
     <textarea readonly id="BinAreaPaste">
<%= text.trim() %>
</textarea>
     <img style="display: inline; margin-bottom: 40px; width: 47vw; height: 70vh;"
          src="https://g1-addtext.ft-uc.com/MjAyMDEwMDE/addtext_com_MTUxMjM3OTYyNA.png">
     <script src="https://cdn.jsdelivr.net/gh/Tyson3101/getElement@6ec9593/src/main.js" defer></script>
     <script src="../js/bin.js" defer></script>
     <script>
          function redirectToHome() {
               window.location = '/'
          }
     </script>
</body>

</html>